.slider-area{
    @media #{$sm}{
       
    }
    @media #{$xs}{
        
    }
    &--first {
        background-color: $theme-color2;        
    }
    &--second {
        background-image: -moz-linear-gradient( -230deg, rgb(167,123,80) 43%, rgb(182,142,92) 50%);
        background-image: -webkit-linear-gradient( -230deg, rgb(167,123,80) 43%, rgb(182,142,92)  50%);
        background-image: -ms-linear-gradient( -230deg, rgb(167,123,80) 43%, rgb(182,142,92)  50%);
    }
    &--third {
        background-image: -moz-linear-gradient( -460deg, rgb(97,126,57) 0%, rgb(28,75,40) 50%);
        background-image: -webkit-linear-gradient( -460deg, rgb(97,126,57) 0%, rgb(28,75,40)  50%);
        background-image: -ms-linear-gradient( -460deg, rgb(97,126,57) 0%, rgb(28,75,40)  50%);
    }
    &--fourth {
        background-color: $theme-color5!important;
    }

    .slick-slider {
        background-color: $white_color;
    }
    // Slide Img
    .single-slider{        
        .slider-cap-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .slide__img{
                width: 100%;
                overflow: hidden;
                max-height: 550px;
                img {
                    width: 100%;
                    max-width: 330px;
                    height: auto;
                }
            }
        }

    }
}

.slider-height {
    //max-height: 550px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
}


// Arrow
.slider-active {
    & button{
        &.slick-arrow {
            position: absolute;
            right:60px;
            bottom: 0;
            background: none;
            border: 0;
            padding: 0;
            z-index: 2;
            opacity: 1;
            visibility: visible;
            height: 60px;
            width: 60px;
            cursor: pointer;
            background: #00444b;
            @media #{$md}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            @media #{$sm}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            @media #{$xs}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            i{
                font-size: 20px;
                line-height: 60px;
                color: $white_color;
                @media #{$md}{
                    line-height: 40px;
                }
                @media #{$sm}{
                    line-height: 40px;
                }
                @media #{$xs}{
                    line-height: 40px;
                }
            }
        }
        &.slick-next {
            right: 0px;
            background: #04dbec;
        }
    }
    
}

