.slider-image {
    padding: 0!important;
    img {
        width: 100%;
    }
}

.slider-area{
    @media #{$sm}{
       
    }
    @media #{$xs}{
        
    }
    .slider-image {
        .arrow {
            position: absolute;
            z-index: 1;
            &--left {
                width: 0;
                height: 0;
                border-top: 30px solid transparent;
                border-bottom: 30px solid transparent;                
                bottom: 5%;
                right: 0;
            }
            &--right {
                width: 0;
                height: 0;
                border-top: 30px solid transparent;
                border-bottom: 30px solid transparent;                
                bottom: 5%;   
                left: 0;             
            }
        }
    }
    
    .slider-details {
        padding: 30px;
        h2 {
            font-size: $medium-title;
            font-weight: 900;
            margin-bottom: 10px;
        }
        h3 {
            font-size: $sub-title;
            font-weight: 700;
            margin-bottom: 30px;
        }        
    }

    &--first {
        h2, h3, p {
            color: $white_color;
        }        
        background-color: $section_bg1;     
        .slider-image {
            .arrow {
                &--left {
                    border-right: 30px solid $section_bg1;
                }
            }
        }   
    }
    &--second {
        h2, h3, p {
            color: $white_color;
        }        
        background-image: -moz-linear-gradient( -230deg, rgb(167,123,80) 43%, rgb(182,142,92) 50%);
        background-image: -webkit-linear-gradient( -230deg, rgb(167,123,80) 43%, rgb(182,142,92)  50%);
        background-image: -ms-linear-gradient( -230deg, rgb(167,123,80) 43%, rgb(182,142,92)  50%);
        .slider-details {
            background-color: $section_bg2;
            color: $white_color;            
        }
        .slider-image {
            .arrow {
                &--left {
                    border-right: 30px solid $section_bg2;
                }
            }
        }
    }
    &--third {
        h2, h3, p {
            color: $green_color;
        }        
        background-image: -moz-linear-gradient( -460deg, rgb(97,126,57) 0%, rgb(28,75,40) 50%);
        background-image: -webkit-linear-gradient( -460deg, rgb(97,126,57) 0%, rgb(28,75,40)  50%);
        background-image: -ms-linear-gradient( -460deg, rgb(97,126,57) 0%, rgb(28,75,40)  50%);
        .slider-details {
            background-color: $section_bg3;
            color: $green_color;            
        }
        .slider-image {
            .arrow {
                &--right {
                    border-left: 30px solid $section_bg3;
                }
            }
        }
    }
    &--fourth {
        h2, h3, p {
            color: $white_color;
        }        
        background-color: $theme-color5!important;
        .slider-details {
            background-color: $section_bg4;
            color: $white_color;            
        }
        .slider-image {
            .arrow {
                &--right {
                    border-left: 30px solid $section_bg4;
                }
            }
        }
        .slick-dots {
            display: none!important;
        }
    }

    .carousel {
        background-color: $white_color;
    }
    // Slide Img
    .single-slider{        
        .slider-cap-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .slide__img{
                width: 100%;
                overflow: hidden;
                max-height: 550px;
                img {
                    width: 100%;
                    max-width: 330px;
                    height: auto;
                    margin: 40px auto 0;
                }
            }
        }

    }
}

.slider-height {
    //max-height: 550px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
}


// Arrow
.slider-active {
    & button{
        &.slick-arrow {
            position: absolute;
            top: 50%;
            background: none;
            border: 0;
            padding: 0;
            z-index: 2;
            opacity: 1;
            visibility: visible;
            height: 60px;
            width: 60px;
            cursor: pointer;
            @media #{$md}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            @media #{$sm}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            @media #{$xs}{
                line-height: 40px;
                height: 40px;
                width: 40px;
                right:40px;
            }
            i{
                font-size: 20px;
                line-height: 60px;
                color: $black;
                @media #{$md}{
                    line-height: 40px;
                }
                @media #{$sm}{
                    line-height: 40px;
                }
                @media #{$xs}{
                    line-height: 40px;
                }
            }
        }
        &.slick-next {
            right: 0px;
        }
    }
    
}

// Dots

.slick-dots {
    display: flex!important;
    justify-content: center;
    margin-top: 10%;
    li {
        float: left;
        padding: 2px;
        button {
            background-color: #5a5a5a;
            border: 1px solid #a3a3a3;
            border-radius: 8px;
            text-indent: -9999px;
            width: 24px;
            height: 8px;
        }        
    }
    .slick-active {
        button {
            background-color: $black;
            border: 1px solid #656565;
            width: 32px;
        }
    }
}

