header {
    background-image: url(../img/sections/first/section-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $brand-bg;
    .all-brands-area {
        margin: 0 auto;
        padding: 50px 0;
        .brands {
            .brands-details {
                h1 {
                    font-size: $large-title;
                    font-weight: 900;
                    color: $white_color;
                    margin-bottom: 40px;
                }
                h2 {
                    font-size: $sub-title;
                    font-weight: 700;
                    color: $white_color;
                }
                h3 {
                    font-size: $tex-size;
                    color: $white_color;
                    text-align: center;
                    padding: 30px 0 20px;
                    a {
                        text-decoration: underline;
                    }
                }
                p {
                    color: $white_color;
                }
                .brands-images {
                    .desktop {
                        @media #{$sm}{
                            display: none;
                        }
                        @media #{$xs}{
                            display: none;
                        }
                    }
                    .mobile {
                        @media #{$laptop}{
                            display: none;
                        }
                        @media #{$lg}{
                            display: none;
                        }
                        @media #{$md}{
                            display: none;
                        }
                    }
                }
            }
        }
        .brands-bg {
            @media #{$sm}{
                display: none;
            }
            @media #{$xs}{
                display: none;
            }
            img {
                width: 100%;
            }
        }
    }
}