header {
    background-image: url(../img/sections/first/section-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $brand-bg;
    .all-brands-area {
        margin: 0 auto;
    }
}